.container { /*Create a container with two rows and two columns for the div classes to snap to */
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5px;
    height: 100vh;
  }

  /*Navbar Style*/
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  /*Body STyle*/
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: solid white;
    border-width: 0px;
    overflow:hidden;
    display:block;
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
}
/*Packing list and Inventory Style*/
#packinglist {
    text-align: center;
    width: 100%;
    height: auto;
    border: 1px solid black;
    margin: 2px;
  }

#inventory {
    text-align: center;
    width: 100%;
    height: auto;
    border: 1px solid black;
    margin: 2px;
}

.draggable { /*Style applied to the draggable item divs*/
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
}

#totalweight { /*Style applied to the totalweight label*/
    text-align: center;
    width: 100%;
    height: 300px;
}

#piechart { /*Style applied to the pie chart*/
    text-align: center;
    width: 100%;
    height: 300px;
}